<!DOCTYPE html>
<html lang="en">
  <head>
    <% include elements/Head %>
  </head>
  <body>
      
    <% include elements/Menu  %>  
    <%- body %>
    
    
    <% include elements/Footer  %>   
    <a href="#" class="cd-top ">Back To Top</a>
    
    <% include elements/Scripts %>  
     
  </body>
</html>