<div class="col-lg-8 post-list">   
    <div class="latest-post-wrap">
        <h4 class="cat-title">Error</h4>      
        <div class="single-latest-post row align-items-center">
            <div class="col-lg-5 post-left">
                <div class="feature-img relative">
                    <div class="overlay overlay-bg"></div>
                    <img class="img-fluid diep-1"  src="frontend/img/error-page.jpg"" alt="">
                </div>                   
            </div>            
        </div>           
    </div>      
</div>
